<!DOCTYPE html>
<html class='no-js' lang="en">
<head>
  <title>Robot Demo</title>
</head>
<body class="buy rui-preload" data-rui-select-auto-init="false">
<header class="rui-header rui-clearfix" data-auto-init="false">
  <div class="rui-grid rui-header-container">
    <a title="realestate.com.au homepage" href="#" class="rui-main-logo">
      <img src="/assets/rea-logo-v3.png" alt="realestate.com.au Australia lives here" />
    </a>
    <div class="rui-clearboth"></div>
    <button class="rui-burger-toggle rui-icon rui-icon-navdeck rui-button-no-style">
      <span class="rui-visuallyhidden">Menu</span>
      <span class="hit-box"></span>
    </button>
  </div>
  <hr class="rui-clearboth" />
  <div class="rui-grid rui-nav-container rui-burger-container">
    <nav class="rui-main-nav">
      <ul>
        <li class="rui-nav-tab buy rui-nav-active">
          <a href="#" title="Real estate and property for sale">
            <span>Demo</span>
          </a>
        </li>
        <li class="rui-nav-tab commercial">
          <a href="https://github.com/daniel-lanciana/robot-demo" target="_blank" title="Commercial real estate for sale and lease">
            <span>GitHub</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<%= form_tag '/robot/input', :method => "get", class: 'search-form', name: 'search-form' do %>
  <div class="search-form-container">
    <h1 class="centered">Toy Robot Demo</h1>
    <div class="search-container">
      <div class="rui-search-container">
        <input name="input" id="input" class="rui-input rui-location-box rui-auto-complete-input" placeholder="Enter robot commands (e.g. PLACE 0,0,NORTH)..." />
        <button class="rui-search-button" tabindex="9">
          <span class="rui-visuallyhidden">Submit Search</span>
          <span class="rui-icon rui-icon-search"></span>
        </button>
      </div>

      <div class="min beds select-holder">
        <label>Table Width</label>
        <select class="rui-input rui-select rui-select-rendered rui-default-selected" id="select-width">
          <% (1..20).each do |i| %>
              <option value="<%= i %>" <%= if i == @width then "selected" end %>><%= i %></option>
          <% end %>
        </select>

        <label>Height</label>
        <select class="rui-input rui-select rui-select-rendered rui-default-selected" id="select-height">
          <% (1..20).each do |i| %>
              <option value="<%= i %>" <%= if i == @height then "selected" end %>><%= i %></option>
          <% end %>
        </select>
        &nbsp;&nbsp;&nbsp;* Resets board
      </div>
    </div>

    <div class="actions">
      <a id="place" class="ajax rui-button-brand registerLink" href="/robot/place">Place @ Origin</a>
      <a id="move" class="ajax rui-button-brand registerLink" href="/robot/move">Move</a>
      <a id="left" class="ajax rui-button-brand registerLink" href="/robot/left">Left</a>
      <a id="right" class="ajax rui-button-brand registerLink" href="/robot/right">Right</a>
      <a id="report" class="ajax rui-button-brand registerLink" href="/robot/report">Report</a>
      <a id="reset" class="rui-button-brand registerLink" href="/">Reset</a>
      <a id="chaos" class="rui-button-brand registerLink" href="#">Chaos <strike>Monkey</strike>Robot!</a>
    </div>

    <table id="chess_board" cellpadding="0" cellspacing="0">
      <% (@height - 1).downto(0).each do |y| %>
          <tr class="<%= y %>">
            <% (0).upto(@width - 1).each do |x| %>
                <td class="<%= x %>">
                    <%= x %>, <%= y %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>

    <h3 id="output">&nbsp;</h3>
  </div>
<% end %>
</body>
</html>